*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#m{ background-color: aquamarine;
    
    width:100%;
    height:100%;
    
    display: flex;
    flex-direction: column;
    
}
.p{  
    display: flex;
    width:100%;
    height:30%;
    background-color: beige;
}
.p div{
    font-size: 160%;


    text-align: center;
    width: 100%;
    max-height: 20%;
  
}
.container2{
    display: flex;
    flex-direction: row;
  
    background-color: color(srgb red green lab(55.88% 7.2 -59.09));
    width:100%;
    height:200px;
    margin-top: 12px;
    
}
.a{ 
    
   height:190px;
   width:70%;
   background-color: hwb(203 12% 4%);
   font-size: 120%;
   margin: 6px 13px 12px 122px ;
   font-family:serif;
   
   
 
}
.c3 {
    background-color: #88adda;
    margin-top: 4%;
    ;
    text-align: center;

}
button {
    padding: 5px 20px;
    background-color: hsl(0, 87%, 50%);
    align-self: center
    
}
p{
    width:500px;
    text-align: left;
}
v{
    font-weight: 500;
    font-style: italic;
    font-display: auto;
    text-align: justify;
    text-decoration: double;
}